@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;


}

html {
  scroll-behavior: smooth;
}

/* AREA DEL HEADER */

.Cabecera {
  max-width: 100%;
  width: 100vw;
}

.Cabecera .BarNav {

  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 16rem;
  background-color: transparent;
  max-width: 100%;
  padding: 1rem;
  z-index: 100;
}



.Cabecera .Logo {
  padding-left: 20px;
}

.Logo img {
  max-width: 150px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  margin: 20px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: #000;
}

.BtnLogin {
  padding: 1.5rem;
}

.BtnLogin button {
  padding: 10px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.BtnLogin button:nth-child(1) {
  font-weight: 700;
  font-size: 14px;
  line-height: 17.64px;
  border-radius: 20px;
  width: 80px;
}

.BtnLogin button:nth-child(2) {
  padding: 15px;
  font-weight: 700;
  font-size: 15px;
  line-height: 17.64px;
  border: none;
  border-radius: 16px;
  background-color: #bc261a;
  color: #f0f4f8;
}

/* MAIN SERVICE */
.Services {
  max-width: 100%;
  height: auto;
  background: #f8f8f8;
}

.Hero {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  align-items: center;
  padding: 5%;
}

.Elementoiz {
  padding: 20px;
  max-width: 766px;
  max-height: auto;
}

.Elementoiz h1 {
  font-family: Plus Jakarta Sans;
  font-size: 57px;
  font-weight: 600;
  line-height: 74.1px;
  letter-spacing: 0.19px;
  text-align: left;
  color: #000;
}

.Elementoiz p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.3px;
  margin-top: 18px;
  color: #282828;
}

.Imagen-hero img {
  max-width: 719px;
  max-height: auto;
}

.BotonesBajos {
  margin-top: 2rem;
  width: auto;
}

.BotonesBajos button {
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  line-height: 22.58px;
  letter-spacing: 0.19px;
  font-weight: 700px;
  margin-right: 25px;
}

.BotonesBajos button:nth-child(1) {
  padding: 15px;
  background: #bc261a;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  width: 13vw;
}

.BotonesBajos button:nth-child(2) {
  padding: 15px;
  background-color: #fff;
  color: #000;
  border: 3px solid;
  border-radius: 30px;
  width: 13vw;
  font-weight: 700;
}

.Intro {
  max-width: 100%;
  width: 100%;
  height: 526px;
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  background-color: #fff;
  display: flexbox;
  place-content: center;
  box-shadow: 20px;
}

.Intro h2 {
  font-family: Plus Jakarta Sans;
  font-size: 50px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: 0.2px;
  color: #333333;
  text-align: center;
  margin: auto;
  line-break: loose;
  max-width: 1512px;
  width: fit-content;
}

.Intro hr {
  border: 2px solid #e8e8e8;
  max-width: 100%;
  width: 90%;
  margin: auto;
  margin-top: 5.3rem;
}

/* AREA DE CATEGORIAS */

.Categorias {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: auto;
}

.Ctg_1 {
  max-width: 100%;
  width: 100%;
  height: 630px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 9.5%;
  gap: 10rem;
}

.Ctg_1 img {
  width: 675px;
  height: 430px;
  border-radius: 30px;
}

.Roof {
  width: 674px;
  height: 325px;
}

.Roof h2 {
  font-family: Plus Jakarta Sans;
  font-size: 48px;
  font-weight: 600;
  line-height: 62.4px;
  letter-spacing: 0.19;
  text-align: left;
}

.Roof p {
  font-family: Plus Jakarta Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 28.8px;
  letter-spacing: 0.19px;
  text-align: justify;
  line-break: anywhere;
  margin-top: 19px;
}

.Roof button {
  padding: 20px;
  background: #bc261a;
  color: #ffffff;
  border: 3px solid;
  border-radius: 30px;
  width: 12vw;
  font-family: Plus Jakarta Sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 22.58px;
  letter-spacing: 0.19px;
  margin-top: 2rem;
}

.Ctg_2 {
  max-width: 100%;
  height: 630px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 9.5%;
  gap: 10rem;

  background-color: #f8f8f8;
}

.Ctg_2 img {
  width: 775px;
  height: 430px;
  border-radius: 30px;
}

.Ctg_4 {
  max-width: 100%;
  height: 630px;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 9.5%;
  gap: 10rem;
  flex-direction: row-reverse;
  background-color: #f8f8f8;
}

.Ctg_4 img {
  width: 775px;
  height: 430px;
  border-radius: 30px;
}

.Ctg_6 {
  max-width: 100%;
  height: 630px;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 9.5%;
  gap: 10rem;
  flex-direction: row-reverse;
  background-color: #f8f8f8;
}

.Ctg_6 img {
  width: 775px;
  height: 430px;
  border-radius: 30px;
}

.Modales {
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: #e2e4e7;
  padding: 3%;

  & .Sec_M {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    cursor: default;
  }

  & .Modal1 {
    display: flex;
    max-width: 100%;
    height: 642px;
    gap: 23px;
    flex-direction: column;
    border-radius: 20px;
  }

  & .Modal1 h2 {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 600;
    line-height: 62.4px;
    letter-spacing: 0.19px;
    text-align: left;
  }

  & .Modal1 p {
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    letter-spacing: 0.18819276988506317px;
  }

  & .Modal1 img {
    width: 674px;
    height: 422px;
    border-radius: 20px;
  }

  & .Sec_M button {
    text-wrap: wrap;
    padding: 20px;
    background: #bc261a;
    color: #ffffff;
    border: 3px solid;
    border-radius: 30px;
    width: 14vw;
    font-family: Plus Jakarta Sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 22.58px;
    letter-spacing: 0.19px;
    margin-top: 2rem;
    margin: auto;
  }
}

.FAQ {
  width: 676px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.accordion {
  margin-inline: auto;
  text-align: center;
  background: #fff;
  padding: 12px;
  border-radius: 20px;
  color: #000;

  & summary {
    width: 647px;
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 28.6px;
    letter-spacing: 0.19742654263973236px;
    text-align: left;
    padding: 20px;
  }

  & p {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.6px;
    letter-spacing: 0.19819276988506317px;
    text-align: justify;
    padding-left: 15px;
  }
}

/* AREA DE GENERALES */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  .Logo img {
    background-color: #f9f9f9;
  }
}

.CTA {
  max-width: 100%;
  width: 100%;
  height: 60vh;
  position: relative;

  & .CTA2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    filter: brightness(30%);

    & img {
      width: 100%;
      height: 60vh;
    }
  }

  & .cta {
    width: 65vw;
    height: 447px;
    padding: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #f0f4f8;
  }

  & .cta h2 {
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 70.4px;
    text-align: center;
    z-index: 100;
  }

  & .checks {
    display: flex;
    align-items: center;
    gap: 2rem;
    z-index: 100;
  }

  & .cta button {
    padding: 1rem;
    background: #bc261a;
    color: #ffffff;
    border: 3px solid;
    border-radius: 3rem;
    width: 14vw;
    font-family: Plus Jakarta Sans;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: 0.19px;
    margin-top: 2rem;
    z-index: 100;
  }

  & .checks label {
    font-family: Plus Jakarta Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
  }
}

.Contacto {
  width: 100%;
  height: 55vh;
  padding: 1%;

  & .contacto {
    width: 100%;
    height: 52vh;
    border-radius: 20px;
    background-color: #080202;
    color: #fff;
    margin-inline: auto;
    padding: 6%;
    display: flex;
    justify-content: space-between;
  }

  & .Politics {
    display: flex;
    gap: 40px;
  }

  & a {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    letter-spacing: 0.18819276988506317px;
    text-align: left;
    text-decoration: none;
    color: #e2e4e7;
  }

  & h2 {
    width: 741px;
    font-family: Plus Jakarta Sans;
    font-size: 48px;
    font-weight: 700;
    line-height: 62.4px;
    letter-spacing: 0.19742654263973236px;
    text-align: left;

    & span {
      color: #bc261a;
    }
  }

  & .contacto i {
    font-size: 40px;
    margin: 20px;
    margin-top: 40px;
  }

  & .iconos {
    display: flex;
    flex-direction: column;

    & i {
      font-size: 25px;
      margin: 20px;
    }
  }
}

@media (max-width: 360px) {

  .Cabecera {
    width: 97%;
    height: auto;
  }

  .BarNav {
    position: relative !important;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;



  }

  .navbar {
    display: flex;
    flex-flow: column;
    height: auto;


  }



  .Hero {
    max-width: 100%;
    display: flex;
    flex-flow: column-reverse;
    height: auto;


  }

  .Services {
    max-width: 100%;

    & .Elementoiz {
      max-width: 100%;
      display: flex;
      flex-flow: column;

    }

    & .Elementoiz h1 {
      text-align: center;
      font-size: 28px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.16px;
      line-break: loose;
    }

    & p {
      text-align: center;
      font-size: 18.87px;
      letter-spacing: 0.3px;
      line-height: 23.63px;


    }

    & .BotonesBajos {
      width: 100%;

    }

    & .Elementoiz button {
      width: 100%;
      margin-top: 10px;
    }

    & img {
      max-width: 100%;
    }

  }

  .Intro {
    max-width: 100%;
    height: auto;

    & h2 {
      font-size: 23px;
      line-height: 30px;
      letter-spacing: 0.16px;
      padding: 30px;
      text-align: center;
    }

    & hr {
      margin-top: 3rem;
    }
  }

  .Categorias {
    max-width: 100%;
    height: fit-content;

    & img {
      max-width: 100%;
      height: 300px;
    }

    & .Ctg_1 {
      max-width: 100%;
      margin-top: 3.0rem;
      padding: 20px;
      height: auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      gap: 0px;


      & .Roof {
        height: auto;
        width: 320px;
        padding: 18px;


        & h2 {
          text-align: center;
          font-size: 28px;

        }

        & p {
          font-size: 18px;
          text-align: center;
          letter-spacing: 0.18px;
        }

        & button {
          width: 100%;
        }
      }

    }

  }

  & .Ctg_2 {
    max-width: 100%;
    margin-top: 3.0rem;
    padding: 20px;
    height: auto;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0px;


    & .Roof {
      height: auto;
      max-width: 100%;
      padding: 18px;

      & h2 {
        font-size: 28px;
        text-align: center;
      }

      & p {
        font-size: 18px;
        letter-spacing: 0.18px;
        text-align: center;
      }

      & button {
        width: 100%;
      }
    }


  }

  .Ctg_4 {
    max-width: 100%;
    margin-top: 3.0rem;
    padding: 20px;
    height: auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 0px;


    & .Roof {
      height: auto;
      width: 100%;
      padding: 16px;

      & h2 {
        text-align: center;
        font-size: 25px;
        padding: 20px;
      }

      & p {
        font-size: 18px;
        letter-spacing: 0.16px;
        text-align: center;

      }

      & button {
        width: 100%;
      }

    }

    .Ctg_6 {
      max-width: 100%;
      margin-top: 3.0rem;
      padding: 20px;
      height: auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 0px;


      & .Roof {
        height: auto;
        max-width: 100%;
        padding: 20px;


        & h2 {
          text-align: center;
        }

        & p {
          font-size: 18px;
          letter-spacing: 0.18px;
          text-align: center;
        }

        & button {
          width: 100%;
        }
      }
    }
  }


  .Modales {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 1.5rem;


    & .Sec_M {
      max-width: 100%;
      height: auto;
      display: flex;
      flex-flow: column;
      justify-content: center;



    }

    & .Modal1 {
      width: 100%;
      height: 423px;
      text-align: center;
      display: flex;
      flex-direction: column;

      & h2 {
        text-align: center;
        font-size: 40px;
      }

      & img {
        max-width: 100%;
        height: auto;
      }


    }

    & .FAQ {
      max-width: 100%;
      height: auto;

      & .accordion {
        width: 100%;

        & summary {
          width: 100%;
        }
      }
    }
  }

  .CTA{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;



  }

  .CTA2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
  }

  .cta {
    max-width: 100%;
    padding: 1 rem;


  }



  .Contacto {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

  }


  .contacto {
    display: flex;
    flex-direction: column;

    & h2 {
      font-size: 18px;
      line-break: loose;
    }
  }

  .Politics {
    display: flex;
    flex-direction: column;

  }
}